<launch>

  <!-- important generally, but specifically utilised by the current app manager -->
  <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
  <param name="robot/type" value="turtlebot"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
  </node>

  <param name="robot_description" command="cat $(find gibson2-ros)/turtlebot/turtlebot.urdf"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>

  <node name="turtlebot_gibson_sim" pkg="gibson2-ros" type="turtlebot_rgbd.py" output="screen">
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gibson2-ros)/rviz/robot.rviz" />

  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    <param name="model" value="burger" />
  </node>

  <node pkg="nodelet" type="nodelet" args="manager"
        name="record_player_manager" output="screen"/>
        
  <node pkg="nodelet" type="nodelet" name="cloudify"
        args="load depth_image_proc/point_cloud_xyzrgb record_player_manager --no-bond" output="screen">
    <remap from="depth_registered/image_rect" to="/gibson_ros/camera/depth/image"/>
    <remap from="depth_registered/points" to="/gibson_ros/camera/depth_registered/points"/>
    <remap from="rgb/image_rect_color" to="/gibson_ros/camera/rgb/image"/>
    <remap from="rgb/camera_info" to="/gibson_ros/camera/depth/camera_info"/>
  </node>

</launch>
